@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
.img-responsive {
    background-position-x: center;
    background-position-y: center;
}

.h1t {
    font-family: 'Oxanium', cursive;
    color: rgb(9, 179, 108);
}

.h2t {
    font-family: 'Oxanium', cursive;
    color: rgb(65, 90, 110);
}